<div id='cssmenu'>
<ul>
   <li><a id="open-contacts-dialog-btn" href="/login/index"><span>login</span></a></li>

   <li><a id="open-contacts-dialog-btn" href="/utente/new"><span>Register</span></a></li>

   <li><a id="open-contacts-dialog-btn" href="/general/index"><span>Ranking</span></li>
</ul>
</div>
