<div class="home">
  <%= render 'navbar/navbar' %>
  <h1 class="text" >Welcome to Snake</h1>
</div>


<!--<div class="container">
   <div class="row">
      <div class="col-sm-1">
      </div>
      <div class="col-sm-3">
        <%= link_to "<button>register</button>".html_safe, '/utente/new', :id=>"open-contacts-dialog-btn", :class=>"inbox-sf-add-btn tip" %>
      </div>
      <div class="col-sm-1">
      </div>
      <div class="col-sm-3">
        <%= link_to "<button>login</button>".html_safe, '/login/index', :id=>"open-contacts-dialog-btn", :class=>"inbox-sf-add-btn tip" %>
      </div>
   </div>
</div>-->

